h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 5vw;
  background: -webkit-linear-gradient(#81c8be, #8caaee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-family: sans-serif;
  text-align: center;
  font-size: 2vw;
  color: #b5bfe2;
}
a { 
  display: grid;
  text-decoration: none;
  background-color: #414559;
  font-family: sans-serif;
  text-align: center;
  font-size: 2vw;
  color: #c6d0f5;
  border: 1px solid;
  border-radius: 3px;
  border-width: .2w;
  width: 8vw;
  margin: auto;

}
body {
    background-color: #292c3c;
}
